<ion-content class="ion-padding">

  <form [hidden]="estaCargando" [formGroup]="forma" novalidate>
    <!-- <h1>Login</h1> -->
    <img src="../../assets/imgs/logo.svg" alt="asistente" class="logo"/>
    <ion-row class="ion-no-margin ion-no-padding">
      <div *ngIf="nombreMostrar == ''" class="titulo ion-padding-bottom">Bienvenido</div>
      <div *ngIf="nombreMostrar != ''" class="titulo ion-padding-bottom">Bienvenido de nuevo {{nombreMostrar}}</div>
      <div class="subtitulo ion-padding-bottom">Ingresa o completa tus credenciales de Rayen para iniciar sesión</div>
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Ubicación</mat-label>
        <input matInput placeholder="Ubicación" name="ubicacion" formControlName="ubicacion">
        <mat-error>Ubicación requerida</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Usuario</mat-label>
        <input matInput placeholder="Usuario" name="usuario" formControlName="usuario">
        <mat-error>Usuario requerido</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Contraseña</mat-label>
        <input matInput placeholder="Contraseña" type="password" name="clave" formControlName="clave" required>
        <mat-error [hidden]="!(f.clave.errors && f.clave.errors.required)">Clave requerida</mat-error>
      </mat-form-field>
    </ion-row>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item lines="none" style="--ion-item-background: transparent;">
            <ion-label style="word-wrap: break-word;font-size: 0.9em;white-space: break-spaces;">Recordarme</ion-label>
            <ion-toggle name="recuerda" formControlName="recordarmeForm" (ionChange)="onChange($event)" mode="ios">
            </ion-toggle>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-row class="ion-no-padding ion-no-margin">
      <button mat-raised-button color="primary" style="width: 90%; margin-left: 5%; height:36px;"
        (click)="onSubmit()">Ingresar</button>
    </ion-row>

  </form>
  <app-progressbar [mostrar]="estaCargando" titulo="Ingresando..."></app-progressbar>

</ion-content>
