.logo{
    width: 54%;
    margin-left: 23%;
    margin-bottom: 16px;
}
.titulo{
    font-size: 18pt;
    color: #000000DE;
}
.subtitulo{
    letter-spacing: 0.15pt;
    font-size: 14pt;
    color: #212121;
}